<!-- DOWNLOAD -->
<section class="hero is-hidden-mobile">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Wallet</h1>
      <h2 class="subtitle">Download wallets for every platform.</h2>
    </div>
  </div>

  <div class="hero-body">
    <div class="columns has-text-centered">
      <div class="column">
        <i class="fab fa-apple fa-6x"></i><br><br>
        <a href="{{ site.download.macOS }}" class="button is-link is-medium">macOS &nbsp;<i class="fas fa-download"></i></a>
      </div>

      <div class="column">
        <i class="fab fa-windows fa-6x"></i><br><br>
        <a href="{{ site.download.windows }}" class="button is-link is-medium">Windows &nbsp;<i class="fas fa-download"></i></a>
      </div>

      <div class="column">
        <i class="fab fa-linux fa-6x"></i><br><br>
        <a href="{{ site.download.linux }}" class="button is-link is-medium">Linux &nbsp;<i class="fas fa-download"></i></a>
      </div>
    </div>
  </div>
</section>
