<!-- MORE STATS -->
<section id="stats" class="section">
  <div class="columns is-multiline has-text-centered">
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div class="notification is-primary">
        <h1 class="subtitle">Hashrate</h1>
        <h2 class="title" id="hashrate">...</h2>
      </div>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div class="notification">
        <h1 class="subtitle">Difficulty</h1>
        <h2 class="title" id="difficulty">...</h2>
      </div>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div class="notification">
        <h1 class="subtitle">Block Time</h1>
        <h2 class="title" id="blockTime">...</h2>
      </div>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div class="notification">
        <h1 class="subtitle">Retarget</h1>
        <h2 class="title" id="retarget">...</h2>
      </div>
    </div>
  </div>
  <div class="columns is-multiline has-text-centered">
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div class="notification">
        <h1 class="subtitle">Price</h1>
        <h2 class="title" id="priceBtc">...</h2>
      </div>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div class="notification">
        <h1 class="subtitle">Volume</h1>
        <h2 class="title" id="volumeBtc">...</h2>
      </div>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div class="notification">
        <h1 class="subtitle">Market Cap</h1>
        <h2 class="title" id="marketCapBtc">...</h2>
      </div>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
      <div class="notification">
        <h1 class="subtitle">Supply</h1>
        <h2 class="title" id="supply">...</h2>
      </div>
    </div>

  </div>


</section>
