<table class="table is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Block</th>
      <th>Hashrate</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>43,011</th>
      <th>3.1 GH</th>
      <th>2m ago</th>
    </tr>

    <tr>
      <th>43,007</th>
      <th>2.9 GH</th>
      <th>6m ago</th>
    </tr>

    <tr>
      <th>42,999</th>
      <th>2.7 GH</th>
      <th>14m ago</th>
    </tr>

    <tr>
      <th>42,991</th>
      <th>2.6 GH</th>
      <th>23m ago</th>
    </tr>
    <tr>
      <th>42,991</th>
      <th>2.6 GH</th>
      <th>23m ago</th>
    </tr>
    <tr>
      <th>42,991</th>
      <th>2.6 GH</th>
      <th>23m ago</th>
    </tr>
    <tr>
      <th>42,991</th>
      <th>2.6 GH</th>
      <th>23m ago</th>
    </tr>
    <tr>
      <th>42,991</th>
      <th>2.6 GH</th>
      <th>23m ago</th>
    </tr>
  </tbody>
</table>
