<!--
<div class="notification is-light has-text-centered">
<h2 class="subtitle">Next payout</h2>
<h1 class="title">2h 32m</h1>
<div>
-->

<!--
<h1 class="subtitle">Last block</h1>
<div class="tags">
  <span class="tag is-warning is-medium" style="min-width:110px">15m ago</span>
</div>

<h1 class="subtitle">Payouts</h1>
<div class="tags">
  <span class="tag is-warning is-medium" style="min-width:110px">29m ago</span>
</div>
-->

<div class="tags are-medium">
  <span class="tag is-primary is-medium" style="width:33%">Capacity: 4.2%</span>
  <span class="tag is-secondary is-medium" style="width:33%">Workers: 81</span>
  <span class="tag is-danger is-medium" style="width:33%">Hashrate: 4.5 GH</span>
  <span class="tag is-warning is-medium" style="width:33%">Last block: 24m ago</span>
  <span class="tag is-warning is-success" style="width:33%">Next payout: 1h 2m</span>
</div>



<!--

capacity? (workers / 2000)
workers
hashrate
time since last block
time until next payout

"PGN": {
  "algo": "x16s",
  "port": 3663,
  "name": "Pigeoncoin",
  "height": 78461,
  "workers": 81,
  "shares": 3536,
  "hashrate": 2582477672,
  "estimate": "0.00000",
  "24h_blocks": 41,
  "24h_btc": 0,
  "lastblock": 78455,
  "timesincelast": 1453
}
-->


<!--
<div class="notification is-danger">
  <button class="delete"></button>
  <strong>Retarget</strong> to 1,400 difficulty  2m ago.
</div>

<div class="notification is-warning">
  <button class="delete"></button>
  <strong>New block</strong> found 2m ago.
</div>

<div class="notification is-warning">
  <button class="delete"></button>
  <strong>New block</strong> found 9m ago.
</div>

<div class="notification is-success">
  <button class="delete"></button>
  <strong>Payout</strong> completed 21m ago.
</div>
-->

<!--
<div class="tags has-addons">
  <span class="tag is-warning is-medium" style="min-width:110px">New block</span>
  <span class="tag is-white is-medium is-hidden-mobile">found 7m ago.</span>
  <a class="tag is-delete is-medium is-white"></a>
</div>

<div class="tags has-addons">
  <span class="tag is-warning is-medium" style="min-width:110px">New block</span>
  <span class="tag is-white is-medium">found 12m ago.</span>
  <a class="tag is-delete is-medium is-white"></a>
</div>

<div class="tags has-addons">
  <span class="tag is-danger is-medium" style="min-width:110px">Retargeted</span>
  <span class="tag is-white is-medium">16m ago, difficulty 1400.</span>
  <a class="tag is-delete is-medium is-white"></a>
</div>

<div class="tags has-addons">
  <span class="tag is-warning is-medium" style="min-width:110px">New block</span>
  <span class="tag is-white is-medium">found 27m ago.</span>
  <a class="tag is-delete is-medium is-white"></a>
</div>

<div class="tags has-addons">
  <span class="tag is-success is-medium" style="min-width:110px">Payout</span>
  <span class="tag is-white is-medium">completed 32m ago.</span>
  <a class="tag is-delete is-medium is-white"></a>
</div>

<div class="tags has-addons">
  <span class="tag is-warning is-medium" style="min-width:110px">New block</span>
  <span class="tag is-white is-medium">found 1h 2m ago</span>
  <a class="tag is-delete is-medium is-white"></a>
</div>
-->
<!--

<div class="notification is-white">
  <button class="delete"></button>
  <span class="tag is-danger is-medium" style="width:120px">Retarget</span> to 14,000 difficulty 4m ago.
</div>

<div class="notification is-white">
  <button class="delete"></button>
  <span class="tag is-warning is-medium" style="width:120px">New block</span> found 7m ago.
</div>

<div class="notification is-white">
  <button class="delete"></button>
  <span class="tag is-success is-medium" style="width:120px">Payout</span> completed 21m ago.
</div>
-->
