<!-- SOCIAL -->
<section class="hero is-hidden-mobile">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Social</h1>
      <h2 class="subtitle">Don't let your memes be dreams.</h2>
    </div>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p>
        {% for link in site.social %}
          <a href="{{link[1]}}"><i class="fab fa-{{link[0]}} fa-4x"></i></a>
          &nbsp; &nbsp;
        {% endfor %}
      </p>
    </div>
  </div>
</section>
