<!-- SOCIAL -->
<section class="hero is-hidden-mobile">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Social</h1>
      <h2 class="subtitle">Don't let your memes be dreams.</h2>
    </div>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p>
        <a href=""><i class="fab fa-discord fa-4x"></i></a>
        <a href=""><i class="fab fa-twitter fa-4x"></i></a>
        <a href=""><i class="fab fa-github fa-4x"></i></a>
        <a href=""><i class="fab fa-reddit fa-4x"></i></a>
        <a href=""><i class="fab fa-telegram fa-4x"></i></a>
        <a href=""><i class="fab fa-medium fa-4x"></i></a>
      </p>
    </div>
  </div>
</section>
