<!-- STATS -->
<section class="hero">

  <div class="hero-body">
    <div class="columns is-multiline has-text-centered">
      <div class="column is-half-tablet is-one-quarter-desktop">
        <div class="notification pigeon-gradient">
          <h1 class="subtitle">Price</h1>
          <h2 class="title" id="market-priceBtc">&nbsp;</h2>
        </div>
      </div>

      <div class="column is-half-tablet is-one-quarter-desktop">
        <div class="notification pigeon-gradient">
          <h1 class="subtitle">Market Cap</h1>
          <h2 class="title" id="market-marketCapBtc">&nbsp;</h2>
        </div>
      </div>

      <div class="column is-half-tablet is-one-quarter-desktop">
        <div class="notification pigeon-gradient">
          <h1 class="subtitle">Supply</h1>
          <h2 class="title" id="chain-supply">&nbsp;</h2>
        </div>
      </div>

      <div class="column is-half-tablet is-one-quarter-desktop">
        <div class="notification pigeon-gradient">
          <h1 class="subtitle">Hashrate</h1>
          <h2 class="title" id="chain-hashrate">&nbsp;</h2>
        </div>
      </div>
    </div>
  </div>
</section>
